
{extend name='public/window' /}

{block name="content"}

<link rel="stylesheet" href="__CSS__/fileCommon.css">
<style >
    @media screen and (max-width: 420px) {
        .btnDiv {
            padding-top: 30px;
            text-align: left;
        }
    }
    .showBB .bottomBar {
        display: block;
    }

</style >

<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md12">

            <div class="layui-card" style="margin-top: 15px;">
                <div class="layui-card-header">
                    <div class="layadmin-homepage-pad-ver" style="text-align: left">
                        <div class="layui-btn-group">
                            <button type="button" class="layui-btn layui-btn-normal layui-btn-sm" id="upload">上传图片</button>
                        </div>
                    </div>
                </div>
                <div class="layui-card-body">

                    <div class="layui-form">

                        <div class="file-list">
                            {volist name="data.data" id="vo"}
                            <div class="file-list-item"  data-url="{$vo['att_dir']}" data-name="{$vo['name']}" data-ext="{$vo['ext']}"   data-title="{$vo['name']}">
                                <div class="file-list-img media " data-id="{$vo['id']}" >
                                    <img class="lazy" alt="ss" data-original="{$vo['att_dir']}"  />
                                </div>
                                <div class="file-list-name">{$vo['name']}</div>
                                <div class="file-list-ck layui-form">
                                    <input type="radio" name="imgCk" value="{$vo['att_dir']}" lay-skin="primary" />
                                </div>
                            </div>
                            {/volist}
                        </div>

                        <!--分页开始-->
                        <div class="layui-row" style="text-align: center;">
                            {$page|raw}
                        </div>
                        <!--分页结束-->

                        <div class="layui-form-item" >
                            <div class="layui-input-block">
                                <div class="layui-footer" style="left: 0px;text-align: right;">
                                    <button class="layui-btn" lay-submit="" lay-filter="add">确认选择</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<!-- 下拉菜单 -->
<div class="dropdown-menu dropdown-anchor-top-left" id="dropdownFile">
    <div class="dropdown-anchor"></div>
    <ul>
        <li><a id="open"><i class="layui-icon layui-icon-file"></i> 查看 </a></li>
    </ul>
</div>

<script type="text/javascript" src=__JS__/jquery.lazyload.min.js?v=1.9.1"></script>

<script type="text/javascript" charset="utf-8">
    $(function() {
        $("img.lazy").lazyload({effect: "fadeIn",threshold: 100});
    });
</script>

<script>

    layui.use(['jquery', 'layer', 'element', 'upload',  'util' ,'form'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var element = layui.element;
        var upload = layui.upload;
        var util = layui.util;
        var form = layui.form;

        form.render();

        var mUrl; //素材地址
        var show; //素材类型
        var names; //原始名称
        var _id; //素材id
        // 列表点击事件
        $('body').on('click', '.file-list-item > .file-list-img', function (e) {
            var name = $(this).parent().data('name');
            mUrl = $(this).parent().data('url');
            show=$(this).parent().data('ext');
            names=name;
            _id=parseInt( $(this).data('id'));

            var $target = $(this);
            $('#dropdownFile').css({
                'top': $target.offset().top + 90,
                'left': $target.offset().left + 25
            });
            $('#dropdownFile').addClass('dropdown-opened');
            if (e !== void 0) {
                e.preventDefault();
                e.stopPropagation();
            }
        });


        // 点击空白隐藏下拉框
        $('html').off('click.dropdown').on('click.dropdown', function () {
            $('#dropdownFile').removeClass('dropdown-opened');
        });


        // 打开
        $('#open').click(function () {
            layer.photos({
                photos: {
                    title: "查看图片",
                    data: [{
                        src: mUrl
                    }]
                },
                shade: .01,
                closeBtn: 1,
                anim: 5
            });
        });

        upload.render({
            elem: '#upload'
            ,url: "{:url( 'admin/common/UpImagesList')} " //上传地址
            ,accept:'images'
            ,acceptMime:'image/*'
            ,size: 1024*12 //最大允许上传的文件大小
            ,before: function(obj){
                //预读本地文件
            }
            ,done: function(data){
                //上传完毕回调
                if (data.code==1){
                    layer.msg(data.msg, {icon: 1, time: 1000},function () {
                        //上传成功
                        location.reload();
                    });
                } else {
                    layer.msg(data.msg, {icon: 5, time: 1000});
                }
            }
            ,error: function(){
                //请求异常回调
                layer.msg("网络错误 ", {icon: 5, time: 1500});
            }
        });

        form.on('submit(add)', function (data) {
            var val=$('input:radio[name=imgCk]:checked').val();
           // console.log(val);
            if (val==undefined || val===""){
                layer.msg("请选择一张图片",{kin: 'layui-layer-lan', icon:5,time:1500,shade:0.7});
                return  false;
            }
            parent.mFsUrls = val;
            parent.layer.close(parent.layer.getFrameIndex(window.name));
        });

    });
</script>


{/block}