
{extend name='public/window' /}

{block name="content"}

<div class="layui-fluid">
    <div class="layui-card">

        <div class="layui-card-body" style="padding: 15px;">
            <form class="layui-form" action="" lay-filter="form">


                        <div class="layui-form-item">
                            <label class="layui-form-label">上级栏目：</label>
                            <div class="layui-input-block">
                                <select name="pid" lay-verify="required" >
                                    <option value="0">顶级栏目</option>
                                    {$tree|make_option='','title_show','id'}
                                </select>
                            </div>
                            <div class="layui-form-mid layui-word-aux"></div>
                        </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">选择模型：</label>
                                <div class="layui-input-block">
                                    <select name="model_id" lay-verify="required" >
                                        <option value="0">请选择</option>
                                        {$models|make_option='','name','id'}
                                    </select>
                                </div>
                                <div class="layui-form-mid layui-word-aux"></div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">栏目名称：</label>
                                <div class="layui-input-block input-custom-width" style="">
                                    <input type="text" name="name" value="" placeholder="请输入栏目名称" lay-verify="required" lay-vertype="tips" lay-reqtext="请输入栏目名称" autocomplete="off" class="layui-input ">
                                </div>
                            </div>


                            <div class="layui-form-item">
                                <label class="layui-form-label">外部链接：</label>
                                <div class="layui-input-block input-custom-width" style="">
                                    <input type="text" name="urls" value="" placeholder="请输入" lay-verify="" lay-vertype="tips" lay-reqtext="请输入" autocomplete="off" class="layui-input ">
                                    <p class="help-block">当选择链接模型的时候有效,链接需http://或https://开头,当选择链接模型的时候有效！</p>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">是否显示：</label>
                                <div class="layui-input-inline input-custom-width">
                                    <input type="radio" name="is_show" value="1" title="显示" lay-filter=""  checked>
                                    <input type="radio" name="is_show" value="0" title="不显示" lay-filter="" >
                                </div>

                                <label class="layui-form-label">排序：</label>
                                <div class="layui-input-inline input-custom-width">
                                    <input type="number" name="sort" value="0" min="0" class="layui-input" >
                                </div>
                                <div class="layui-form-mid layui-word-aux"></div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">描述：</label>
                                <div class="layui-input-block input-custom-width" style="">
                                    <textarea name="description" placeholder="" lay-verify=""  autocomplete="off" class="layui-textarea"></textarea>
                                </div>
                            </div>

                            {if isset($info.id)}
                            <input type="hidden" name="id" value="{$info.id}">
                            {/if}

                            <div class="layui-form-item layui-layout-admin " style="width: 100%">
                                <div class="layui-input-block">
                                    <div class="layui-footer" style="left: 0px;text-align: center;">
                                        <button class="layui-btn" lay-submit="" lay-filter="add">{:__('Submit')}</button>
                                        <button type="reset" class="layui-btn layui-btn-primary">{:__('Reset')}</button>
                                    </div>
                                </div>
                            </div>


            </form>
        </div>
    </div>
</div>




<script>
    layui.use(['element', 'form', 'jquery','lucky'], function () {
        var element = layui.element;
        var table = layui.table;
        var form = layui.form;
        var $ = layui.jquery;
        var lucky=layui.lucky;

        //表单赋值
        var info = {:json_encode($info)};
        form.val("form",info);


        form.on('submit(add)', function (data) {
            lucky.FormSubmit("{:url('upAndAdd')}",data.field,true);
            return false;
        });
    })
</script>

{/block}

