
{extend name='public/window' /}

{block name="content"}

<div class="layui-fluid">
    <div class="layui-card">
        <!-- <div class="layui-card-header"></div>-->

        <div class="layui-card-body" style="padding: 15px;">
            <form class="layui-form" action="" lay-filter="form">
                <div class="layui-form-item">
                    <label class="layui-form-label">所属平台：</label>
                    <div class="layui-input-block">
                        <select name="site_link" lay-search="">
                            {volist name="site_link" id="t"}
                            <option value="{$key}" >{$t}</option>
                            {/volist}
                        </select>

                    </div>
                </div>

                {if isset($info.id)}
                <input type="hidden" name="id" value="{$info.id}">
                {/if}

                <input type="hidden" name="__token__" id="token" value="{:token()}"/>

                <div class="layui-form-item">
                    <label class="layui-form-label label-required-next">友链名称：</label>
                    <div class="layui-input-block input-custom-width" style="">
                        <input type="text" name="name" value="" placeholder="请输入友链名称" lay-verify="required" lay-vertype="tips" lay-reqtext="请输入友链名称" autocomplete="off" class="layui-input ">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label label-required-next">友链地址：</label>
                    <div class="layui-input-block input-custom-width" style="">
                        <input type="text" name="url" value="" placeholder="请输入友链地址" lay-verify="required|url" lay-vertype="tips" lay-reqtext="请输入友链地址" autocomplete="off" class="layui-input ">
                        <p class="help-block">地址以http://开头！！！</p>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">状态：</label>
                    <div class="layui-input-inline input-custom-width">
                        <input type="radio" name="status" value="1" title="正常" lay-filter=""  checked>
                        <input type="radio" name="status" value="0" title="禁止" lay-filter="" >
                    </div>
                    <div class="layui-form-mid layui-word-aux"></div>
                </div>


                <div class="layui-form-item layui-layout-admin " style="width: 100%">
                    <div class="layui-input-block">
                        <div class="layui-footer" style="left: 0px;text-align: center;">
                            <button class="layui-btn" lay-submit="" lay-filter="add">提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


<script>
    layui.use(['element', 'form', 'jquery','lucky'], function () {
        var element = layui.element;
        var table = layui.table;
        var form = layui.form;
        var $ = layui.jquery;
        var lucky=layui.lucky;

        //表单赋值
        var info = {:json_encode($info)};
        form.val("form",info);

        form.on('submit(add)', function (data) {
            lucky.FormSubmit("{:url('upAndAdd')}",data.field,true);
            return false;
        });
    })
</script>

{/block}

